/* --------------------------  Desktop Responsive Design  -------------------------- */
@media (min-width: 1030px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  html {
    overflow-x: hidden;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    background-color: var(--primary);
  }

  .logo {
    position: relative;
    left: 1%;
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
  }

  .logo h4 {
    padding-top: 10px;
  }

  .openbtn {
    display: none;
  }

  .closebtn {
    display: none;
  }

  .nav ul {
    list-style-type: none;
    margin-bottom: 10px;
  }

  .nav ul li {
    display: flex;
    padding-top: 3px;
    padding-right: 10px;
  }

  .nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 5px 25px 5px 25px;
    margin: 0px 15px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    transition: 0.2s ease-in-out;
  }

  .nav ul li a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }

  .nav ul li a.active {
    border-radius: 0px 55px 10px 35px;
    background-color: #fff;
    color: #000;
  }

  .intro {
    width: fit-content;
    display: grid;
    place-items: center;
    padding: 1em 2em;
    transition: 0.4s ease-in-out;
    margin: 4em auto;
  }

  .intro:hover {
    box-shadow: 1px 2px 20px 0px rgba(173, 171, 171, 0.4);
    border-radius: 15px;
  }

  .intro p {
    padding: 2%;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
  }

  .intro .intro-Links{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .intro .intro-Links a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #000;
    padding: 0.5em 1em;
    margin: 1em;
    transition: 0.4s ease-in-out;
  }

  .intro .intro-Links a:hover {
    border-radius: 0px 55px 10px 35px;
    background-color: #000;
    color: #fff;
    box-shadow: 1px 2px 20px 0px rgba(173, 171, 171, 0.4);
    cursor: pointer;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 2%;
    margin-top: -0.5%;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #fff;
  }

  .social {
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  }

  #f {
    padding: 10px;
    color: #0853f7;
  }

  #i {
    padding: 10px 12px;
    color: #fa019a;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }
}

/* --------------------------  Mobile Responsive Design  -------------------------- */
@media (max-width: 1029px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--primary);
    position: relative;
  }

  .logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .logo h2 {
    display: none;
  }

  .navmain{
    position: absolute;
    right: 2em;
  }

  .navmain button{
    margin-top: -0.2em;
  }

  .openbtn {
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }

  .closebtn {
    text-decoration: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 4.5em;
    color: #fff;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--primary);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 6em;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: var(--primary);
    background-color: #fff; 
  }

  .intro {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em 1.5em;
    padding: 1em;
    box-shadow: 1px 2px 20px 0px rgba(173, 171, 171, 0.4);
    border-radius: 10px;
  }

  .intro p {
    padding: 2%;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5%;
    color: #000;
  }

  .intro .intro-Links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .intro .intro-Links a {
    text-decoration: none;
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 0.5em 1em;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }

  .intro .intro-Links a img{
    width: 25px;
    height: 25px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 2em;
    position: relative;
    bottom: -1em;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2% 0;
    color: #fff;
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  }

  #f {
    padding: 10px;
    color: #0853f7;
  }

  #i {
    padding: 10px 12px;
    color: #fa019a;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }
}
