:root{
  --primary: #0052CC;
  --secondary: #4d94ff;
  --footer: #0047b3;
  --bars: #80b3ff;
}

/* --------------------------  Mobile Responsive Design  -------------------------- */
@media (max-width: 749px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }

  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col{
    flex-direction: column;
  }

  html {
    overflow-x: hidden;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: var(--primary);
  }

  body::-webkit-scrollbar {
    display: none;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 1em;
    background-color: var(--primary);
  }

  .logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }

  .logo h2 {
    display: none;
  }

  .searchbar {
    width: 100%;
    margin: 0 1em;
  }

  .searchbar input {
    border: none;
    outline-style: none;
    width: 100%;
    height: 2.8em;
    border-radius: 50px;
    text-align: center;
  }

  .navmain button{
    margin-top: -0.1em;
  }

  .openbtn {
    outline-style: none;
    border-style: none;
    background: none;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }

  .closebtn {
    text-decoration: none;
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 4.5em;
    color: #fff;
  }

  .sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    background-color: var(--primary);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 6em;
    transition: 0.5s;
  }
  .sidebar ul li {
    padding-top: 60px;
  }

  .sidebar ul li a {
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
  }

  .sidebar a.active {
    color: var(--primary);
    background-color: #fff;
  }

  .data {
    margin: 1em;
    padding: 1em;
    padding-bottom: 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(63, 63, 63, 0.3);
    background-color: #fff;
  }

  .today {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ccc;
    font-size: 1.2em;
    font-weight: 600;
  }

  .elapse {
    text-align: center;
    font-weight: 600;
    border-spacing: 0.5em;
  }

  .elapse .dayCard{
    background-color: var(--secondary);
    width: 12em;
    padding: 0.6em;
    border-radius: 4px;
  }

  .ithasbeen{
    text-align: left;
  }

  #year{
    text-align: right;
  }

  .pBar {
    position: relative;
    width: 100%;
    padding: 0.5em 0;
    font-size: 0.8em;
    font-weight: 600;
  }

  .percent {
    position: relative;
    height: 25px;
    width: 100%;
    background-color: var(--secondary);
    border-radius: 5px;
  }

  #pY {
    position: absolute;
    left: 0;
    height: 100%;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .months {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    color: #3d3d3d;
  }

  #pM {
    position: absolute;
    left: 0;
    height: 100%;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  #dates {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    color: #3d3d3d;
  }

  #pD {
    position: absolute;
    left: 0;
    height: 100%;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  #hrs {
    display: flex;
    justify-content: space-between;
    /* margin: -20px -10px; */
    font-size: 9px;
    font-weight: 600;
    color: #3d3d3d;
  }

  .stoday {
    position: relative;
    margin: 1.5em 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.55);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    z-index: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border-radius: 5px;
    z-index: -1;
  }

  .stodayHead{
    justify-content: space-between;
    padding: 1em;
  }

  .stoday h3 {
    color: #fff;
    letter-spacing: 1px;
  }

  #todayTitle {
    padding: 15px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
  }

  #tCard {
    display: flex;
    flex-direction: column;
  }

  #todayImg {
    text-align: center;
  }

  #todayImg img {
    width: 300px;
    border-radius: 5px;
  }

  #todayInfo {
    padding: 15px;
    text-align: justify;
    font-size: 18px;
    color: #fff;
  }

  #todaySrc a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 12px;
    border: 1.5px solid #fff;
    border-radius: 4px;
    padding: 0.2em 0.8em;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
  }

  /* Check Age */
  .age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    padding: 0.8em 1em;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(63, 63, 63, 0.3);
    background-color: #fff;
  }

  .age p {
    font-size: 14px;
    font-weight: 600;
  }

  #ageCheck {
    padding: 0.2em 0.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    background-color: var(--primary);
  }

  #ageCheck button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  /* DAY CSS */
  #day {
    text-align: center;
    padding: 1em 2em;
    color: #fff;
    margin-top: 1em;
  }

  #dCard {
    display: flex;
    flex-direction: column;
  }

  #dayImg {
    text-align: center;
  }

  #dayImg img {
    width: 300px;
    border-radius: 5px;
  }

  #dayInfo {
    padding: 15px;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }

  #daySrc {
    position: absolute;
    right: 2em;
    top: 1.5em;
  }

  #daySrc a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 12px;
    border: 1.5px solid #fff;
    border-radius: 4px;
    padding: 0.2em 0.8em;
    transition: 0.2s ease-in-out;
    letter-spacing: 1px;
  }

  /* Color CSS */
  .cMain {
    position: relative;
    margin: 2em 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(63, 63, 63, 0.3);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .cMain h3 {
    padding: 2px;
    color: #fff;
    letter-spacing: 1px;
  }

  #cDay {
    text-align: center;
    padding: 1em 2em;
    color: #fff;
  }

  #cCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cImg {
    text-align: center;
  }

  #cImg img {
    width: 300px;
    border-radius: 5px;
  }

  #cInfo {
    padding: 15px;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer);
    padding: 2em;
  }

  footer p {
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    padding: 2em 0;
    color: #fff;
  }

  .social {
    /* background-color: rgb(167, 22, 22); */
    padding: 1% 0;
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .social a {
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .social a:hover {
    transform: rotate(360deg);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.5);
  }

  #f {
    padding: 10px;
    color: #0853f7;
  }

  #i {
    padding: 10px 12px;
    color: #fa019a;
  }

  #t {
    padding: 10px;
    color: #00acee;
  }
}
